<div class="container">
  <div class="ask you">
    <h2>  <%= @question %></h2>
    <h5><em>-Your Stupid Self</em></h5>
  </div>
  <br>
  <div class="answer coach">
      <h2><strong> <%= @answer %></strong> </h2>
    <h5><em> -Your Stupid Coach</em></h5>
  </div>
</div>
<%= link_to "ask a new question", "ask" %>
